body {
    background-color: #ccc;
    font-size: 12px;
}

#content {
    background-color: #fff;
    width: 800px;
    margin: 3em auto;
    padding: 2em;
    border: 1px solid #000;
}

a {
    text-decoration: none;
}

a:focus {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

table {
    width: 90%;
    margin: 2em 5%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px dotted #000;
    padding: 0.6em 0.3em;
}

th {
    background-color: #eee;
}

td.name {
    text-align: left;
    width: 60%;
}

td.modified {
    text-align: center;
    width 25%;
}

td.size {
    text-align: right;
    width 15%;
}

#footer {
    font-size: 0.9em;
}
